{% load todo_tags %}
<div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-0 truncate w-40 w-xs-100 mt-0" href="Apps.Todo.Details.html">
                                        <i class="simple-icon-refresh heading-icon"></i>

                                        <span class="align-middle d-inline-block">{{ todo.name }}</span>
                                    </a>
                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">تاریخ اتمام:{{ todo.created_date|data_to_jalali:False }}</p>
                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">تاریخ ایجاد:{{ todo.created_date|data_to_jalali:False }}</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-secondary">در انتظار</span>
                                    </div>
                                </div>
                                <label class="custom-control custom-checkbox mb-0 align-self-center mr-4 mb-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">&nbsp;</span>
                                </label>
                            </div>
                        </div>