{% load static %}
    <script src="{% static 'Todo/js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Todo/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Todo/js/vendor/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'Todo/js/vendor/mousetrap.min.js' %}"></script>
    <script src="{% static 'Todo/js/dore.script.js' %}"></script>
    <script src="{% static 'Todo/js/scripts.js' %}"></script>
    <script src="{% static 'Todo/js/vendor/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'Todo/js/Scripts/new_script.js' %}"></script>