{% load static %}
    <link rel="stylesheet" href="{% static 'Todo/font/iconsmind-s/css/iconsminds.css' %}" />
    <link rel="stylesheet" href="{% static 'Todo/font/simple-line-icons/css/simple-line-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'Todo/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Todo/css/vendor/bootstrap.rtl.only.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Todo/css/vendor/component-custom-switch.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Todo/css/vendor/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'Todo/css/main.css' %}" />